.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  padding: 20px;
  padding-bottom: 100px; /* Add padding to prevent footer overlap */
}

.App-logo {
  height: 40px; 
  pointer-events: none;
}

.App-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.App-nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.App-nav-links li {
  margin-left: 20px;
  display: flex; /* Align button vertically */
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1abc9c; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: #2c3e50;
  font-size: 2.5em;
  margin-bottom: 20px;
}

p {
  color: #7f8c8d;
  font-size: 1.2em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #ecf0f1;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Basic styling for logout button */
.logout-button {
  background: none;
  border: none;
  color: black; /* Match link color */
  cursor: pointer;
  font-size: inherit; /* Match link font size */
  padding: 0;
  margin: 0;
  font-family: inherit; /* Match link font family */
}

.logout-button:hover {
  text-decoration: underline; /* Match link hover */
}

.App-logo-link {
  display: flex;
  align-items: center;
}

.App-logo-text {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1em 2em;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  margin: 0;
  z-index: 1000; /* Ensure footer is above other elements */
}