.image-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; 
  }
  
  .home-image {
    width: 100%; 
    max-width: 450px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .home-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  